# Pipeline de NLP - NLTK

Exemplo de um pipeline simples de NLP:

* Tokenização
* Limpeza
* Vetorização

In [69]:
import nltk
from nltk.tokenize import word_tokenize
from nltk.stem.snowball import SnowballStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

In [70]:
documentos = [
    "O rei roeu a rolpa do rato de roma",
    "Deep Learning é muito bom, vem estudar com a gente",
    "A casa amarela em roma é verde"
]

In [74]:
# Tokenização
def tokenize(text):
    # Tokenização
    tokens = nltk.word_tokenize(text)
    
    # Stemização
    stems  = []
    for item in tokens:
        stems.append(SnowballStemmer("portuguese").stem(item))
    return stems

tokenize(documentos[0])

['o', 'rei', 'roeu', 'a', 'rolp', 'do', 'rat', 'de', 'rom']

In [75]:
# StopWords
#
stop_words = ['de', 'a', 'o', 'é', 'do', ',']

# Vetorização
tfidf       = TfidfVectorizer(tokenizer=tokenize, stop_words=stop_words, ngram_range=(1,1))

# Features
tfs         = pd.DataFrame(tfidf.fit_transform(documentos).todense(), 
                           columns=tfidf.get_feature_names())
tfs

,amarel,bom,cas,com,deep,em,estud,gent,learning,muit,rat,rei,roeu,rolp,rom,vem,verd
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.467351,0.467351,0.467351,0.467351,0.355432,0.000000,0.000000
1,0.000000,0.353553,0.000000,0.353553,0.353553,0.000000,0.353553,0.353553,0.353553,0.353553,0.000000,0.000000,0.000000,0.000000,0.000000,0.353553,0.000000
2,0.467351,0.000000,0.467351,0.000000,0.000000,0.467351,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.355432,0.000000,0.467351

In [60]:
np.dot(tfs.iloc[0].values, tfs.iloc[2].values)

0.11445011401938422